<a href="https://colab.research.google.com/github/Yogesh4297/Module2-End-Exam/blob/main/module2_end_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q.1) Convert given hrs & mins in second

In [2]:
a=int(input("Enter the hours:"))
b=int(input("Enter the minutes"))
c=a*3600 + b*60
print("total seconds are:",c)

Enter the hours:9
Enter the minutes15
total seconds are: 33300

In [62]:
#Q.2) Write code to find the average of ‘n’ numbers entered by the user to function avg ( ).Ex: avg (10, 20, 30, 40) => average is: 70avg (5,

In [63]:
num_list=[10,20,30,40]
res = sum(num_list)
avg = res/len(num_list)
print("sum is:",res,"average is:",avg)

sum is: 100 average is: 25.0

In [3]:
#Q.3) Print
1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

SyntaxError: ignored

In [ ]:
for i in range(0,6):
  print(i,end="")
  for j in range(1,)

In [6]:
#Q.4) Write a code to accept a number & print
#in words.
#Ex: 123
#Three
#Two
#One

In [19]:
def printWord(N):
  i=0
  length = len(N)
  while i<length:
    printValue(N[i])
    i +=1
N="123"
printWord(N)

OneTwoThree

In [20]:
#Q.7) Convert Paise in Rupees &
#Paises
#Ex: 350 is 3 Rupees 50 Paise
#3.50 print Rupees: 3
#Paise: 50

In [60]:
a=int(input("Enter the total amount in paisa:"))
x=0
y=0
x=a%100
y=a//100
print("rupees are:",y,"& paisas are:",x)
b=float(input("Enter the total amount in rupees"))
c=b/0.01
p=c%100
q=c//100
print("rupees are:",q,"paisas are:",p)

Enter the total amount in paisa:350
rupees are: 3 & paisas are: 50
Enter the total amount in rupees3.5
rupees are: 3.0 paisas are: 50.0

In [37]:
#Q.10) Create menu driven code for
#1) Accept 2 numbers
#2) Add
#3) Sub
#4) Mul
#5) Div

In [46]:
a=float(input("Enter the number a:"))
b=float(input("Enter the number b:"))
if a>b:
  print("number a:",a,"number b:",b,"addition:",a+b,"subrtraction:",a-b,"multiplication:",a*b,"division:",a/b)
else:
  print("number a:",a,"number b:",b,"addition:",a+b,"subrtraction:",b-a,"multiplication:",a*b,"division:",b/a)

Enter the number a:15
Enter the number b:20
number a: 15.0 number b: 20.0 addition: 35.0 subrtraction: 5.0 multiplication: 300.0 division: 1.3333333333333333

In [47]:
#Q.9) Accept String & print only alternate characters on a string. Ex: this i s a _ test

In [71]:
str = "this_is_a_test"
modified_str= str[1:len(str):2]
print(modified_str)

hsi__et